.header__section {
  display: flex;
  max-height: 84px;
  width: 1440px;
  min-width: 320px;
  background-color: #DF2626;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
  position: fixed;
}

@media screen and (max-width: 1440px) {
  .header__section {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .header__section {
    width: 100%;
    min-width: 320px;
  }
}