.foto__feedback-person {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  padding: 0 0 10px 0;
}

@media screen and (max-width: 767px) {
  .foto__feedback-person {
    font-size: 14px;
    line-height: 20px;
    padding: 0;
  }
}