.popup__button {
  background-image: url(../../../images/popup-img.svg);
  background-size: 140%;
  background-position: center;
  background-color: #DF2626;
  width: 27px;
  height: 27px;
  border: none;
  padding: 0;
  align-self: flex-start;
  cursor: pointer;
}