.footer__text {
  font-weight: 700;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  color: white;
}

@media screen and (max-width: 767px) {
  .footer__text {
    font-size: 12px;
    line-height: 24px;
  }
}

