.border {
}

@media screen and (max-width: 1439px) {
  .border {
    border-bottom: 1px solid #FFF;
    padding-bottom: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .border {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}