.foto__image {
  grid-column: 2/3;
  grid-row: 1/4;
}

@media screen and (max-width: 1439px) {
  .foto__image {
    grid-row: 3/4;
    grid-column: 1/2;
    max-width: 688px;
    height: 656px;
    margin: 0 0 60px;
    overflow: hidden;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  .foto__image {
    max-width: 280px;
    max-height: 268px;
    margin: 0;
  }
}
