.composition__title {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  /* or 100% */
  max-width: 403px;
  padding: 50px 0 0 0;
  margin: 0 0 100px;
}

@media screen and (max-width: 1439px) {
  .composition__title {
    margin: 40px 0 60px;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .composition__title {
    font-size: 30px;
    line-height: 38px;
    margin: 30px 0 60px;
  }
}